
.genre__list {
    display: flex;
    gap: 5px;
}

.film__wrapper {
    margin-top: 20%;
    padding: 15px;
    display: flex;
    gap: 5px;
    background-color: #fff;
    border: 1px solid #000;
}

.film__descr-wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.film__title {
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}

.film__text {
    color: rgb(223, 117, 30);
    font-weight: 700;
}

.film__under {
    margin-top: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

.link__back {
    text-decoration: none;
    color: #666;
}

.film__btn {
    padding: 10px 5px;
    margin: 0;
    background-color: #e8ce29;
    border: none;
    border-radius: 10px;
    color: #000;
    cursor: pointer;
}