@import '../../../styles/variables';
@import '../../../styles/mixin';

.select__wrapper {
    padding: 5px;
    height: 70px;
    @include flexDisplay();
    flex-direction: row;
    align-items: flex-start;
    width:40%;
    background-color: $whiteColor;

    #combo-box {
    display: flex;
    height: 20px;
    z-index: 10;
    margin-bottom: 10px;
    }
}

