@import '../../styles/variables';
@import '../../styles/mixin';

.options__wrapper {
    @include flexDisplay();
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}